{% extends "base.html" %}

{% block title %}{{ post.post_title }}{% endblock %}

{% block header %}
{% if menu_header %}
<div class="nav-scroller py-1 mb-2">
<nav class="nav d-flex justify-content-between">
    {% for menu in menu_header %}
        <a class="p-2 text-muted" href="{% url 'category-index' menu.id %}">{{ menu.category_name }}</a>
    {% endfor %}
</nav>
</div>
{% endif %}
    {% if post.post_header %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-cover" style="background-image: url({{ post.post_header.crop.1110x395 }});">
         {% else %}
     <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
         {% endif %}
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">{{ post.post_title }}</h1>
      <p class="lead text-justify">{{ post.post_summary }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
{% load martortags %}
<div class="blog-post">
    <p class="blog-post-meta">{{ post.post_date | date:"M j" }} by <strong>{{ post.post_author }}</strong> in
    {% for category in post.post_category.all %}
        <a href="{% url 'category-index' category.id %}">{{ category.category_name }}</a>
    {% endfor %}
    </p>
    <div class="blog-entry text-justify">{{ post.post_body | safe_markdown }}</div>
</div>
<div class="form-group">
    <form method="post">
    {% csrf_token %}
        <table border="0">
    {{ comment_form }}
        </table>
    <input type="submit" value="Submit">
</form>
</div>

{% endblock %}


{% block sidebar %}
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About Me</h4>
    <p class="mb-0 text-justify">My name is <em>Deni Saputra</em>. This is my blog. I am learning Django CMS framework.</p>
</div>
{% if menu_sidebar %}
<div class="p-3">
<h4 class="font-italic">Menu</h4>
<ol class="list-unstyled mb-0">
    {% for menu in menu_sidebar %}
        <li><a href="{% url 'page-detail' menu.id %}">{{ menu.menu_name }}</a></li>
    {% endfor %}
</ol>
</div>
{% endif %}
{% if all_posts %}
    {% regroup all_posts by post_date.year as year_list %}
<div class="p-3">
<h4 class="font-italic">Archives</h4>
<ol class="list-unstyled mb-0">
    {% for year in year_list %}
        {% regroup year.list by post_date.month as month_list %}
        {% for month in month_list %}
            <li><a href="{% url 'monthly-post-archive' year.grouper month.grouper %}">{{ month.list.0.post_date|date:'F' }} {{ year.grouper }} ({{ month.list|length }})</a></li>
        {% endfor %}
    {% endfor %}
</ol>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
