{% extends "base.html" %}

{% block title %}{{ post.post_title }}{% endblock %}

{% block header %}
{% if menu_header %}
<div class="nav-scroller py-1 mb-2">
<nav class="nav d-flex justify-content-between">
    {% for menu in menu_header %}
        <a class="p-2 text-muted" href="{% url 'category-index' menu.id %}">{{ menu.category_name }}</a>
    {% endfor %}
</nav>
</div>
{% endif %}
    {% if post.post_header %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-cover" style="background-image: url({{ post.post_header.crop.1110x395 }});">
         {% else %}
     <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
         {% endif %}
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">{{ post.post_title }}</h1>
      <p class="lead text-justify">{{ post.post_summary }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
{% load martortags %}
<div class="blog-detail">
    <p class="blog-post-meta">{{ post.post_date | date:"M j" }} by <strong>{{ post.post_author }}</strong> in
    {% for category in post.post_category.all %}
        <a href="{% url 'category-index' category.id %}">{{ category.category_name }}</a>
    {% endfor %}
    </p>
    <div class="blog-entry text-justify">{{ post.post_body | safe_markdown }}</div>
</div>
<div class="contact-form">
    <h2>Comment Form</h2>
    <div class="jumbotron">
    {% load widget_tweaks %}
    <form method="post" novalidate>
        {% csrf_token %}

        {% for hidden_field in comment_form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if comment_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in comment_form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>

        {% endif %}
        {% for field in comment_form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}

          {% if comment_form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{% if all_comments %}
<div class="comments">
<h2>Comments</h2>
    <div class="comment-wrapper">
        <ul class="list-group">
            {% for comment in all_comments %}
            <li class="list-group-item ">
                <div class="comment-head">{{ comment.comment_name }} - {{ comment.comment_date | timesince }}</div>
                <div class="comment-body">{{ comment.comment_body | linebreaks }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    {% endif %}

{% endblock %}


{% block sidebar %}
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About Me</h4>
    <p class="mb-0 text-justify">My name is <em>Deni Saputra</em>. This is my blog. I am learning Django CMS framework.</p>
</div>
{% if menu_sidebar %}
<div class="p-3">
<h4 class="font-italic">Menu</h4>
<ol class="list-unstyled mb-0">
    {% for menu in menu_sidebar %}
        <li><a href="{% url 'page-detail' menu.id %}">{{ menu.menu_name }}</a></li>
    {% endfor %}
</ol>
</div>
{% endif %}
{% if all_posts %}
    {% regroup all_posts by post_date.year as year_list %}
<div class="p-3">
<h4 class="font-italic">Archives</h4>
<ol class="list-unstyled mb-0">
    {% for year in year_list %}
        {% regroup year.list by post_date.month as month_list %}
        {% for month in month_list %}
            <li><a href="{% url 'monthly-post-archive' year.grouper month.grouper %}">{{ month.list.0.post_date|date:'F' }} {{ year.grouper }} ({{ month.list|length }})</a></li>
        {% endfor %}
    {% endfor %}
</ol>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
