{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block header %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">{{ post.post_title }}</h1>
      <p class="lead text-justify">{{ post.post_summary }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
{% load martortags %}
<div class="blog-post">
    <p class="blog-post-meta">{{ post.post_date}} by <strong>{{ post.post_author }}</strong> in {{ post.post_category.category_name }}</p>
    <div class="blog-entry text-justify">{{ post.post_body | safe_markdown }}</div>
</div>
{% endblock %}


{% block sidebar %}
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0 text-justify">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>
{% endblock %}

{% block footer %}
    {% if menu_footer %}
        <nav class="d-flex justify-content-between">
            {% for menu in menu_footer %}
                <a class="p-2 text-muted" href="{{ menu.menu_page.id }}">{{ menu.menu_name }}</a>
            {% endfor %}
        </nav>
    {% endif %}
{% endblock %}
