{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block header %}
{% if menu_header %}
<div class="nav-scroller py-1 mb-2">
<nav class="nav d-flex justify-content-between">
    {% for menu in menu_header %}
        <a class="p-2 text-muted" href="{% url 'category-index' menu.id %}">{{ menu.category_name }}</a>
    {% endfor %}
</nav>
</div>
{% endif %}
{% if headline %}
{% if headline.post_header %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-cover" style="background-image: url({{ headline.post_header.image.crop.1110x395 }});">
     {% else %}
 <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
     {% endif %}
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic"><a href="{% url 'post-detail' headline.id %}">{{ headline.post_title }}</a></h1>
      <p class="lead my-3">{{ headline.post_summary}}</p>
      <p class="lead mb-0"><a href="{% url 'post-detail' headline.id %}" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div>
{% endif %}
{% if featured %}
<div class="row mb-2">
        {% for feature in featured %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ feature.post_section }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{% url 'post-detail' feature.id %}">{{ feature.post_title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ feature.post_date }}</div>
              <p class="card-text mb-auto">{{ feature.post_summary|truncatewords:20 }}</p>
              <a href="{% url 'post-detail' feature.id %}">Continue reading</a>
            </div>
              {% if feature.post_featured_image %}
                <img class="card-img-right flex-auto d-none d-md-block" data-src="{{ feature.post_featured_image.url }}" alt="{{ feature.post_title }}" src="{{ feature.post_featured_image.url }}" data-holder-rendered="true">
              {% endif %}
          </div>
        </div>
        {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<h3 class="pb-3 mb-4 font-italic border-bottom">Latest Posts</h3>
{% if posts %}
    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{% url 'post-detail' post.id %}">{{ post.post_title }}</a></h2>
            <p class="blog-post-meta">{{ post.post_date}} by <strong>{{ post.post_author }}</strong> in {{ post.post_category.category_name }}</p>
            <div class="blog-summary text-justify">{{ post.post_summary }}</div>
        </div>
    {% endfor %}
{% else  %}
<p>No posts in <strong>{{ category }}</strong>.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About Me</h4>
    <p class="mb-0 text-justify">My name is <em>Deni Saputra</em>. This is my blog. I am learning Django CMS framework.</p>
</div>
{% if menu_sidebar %}
<div class="p-3">
<h4 class="font-italic">Menu</h4>
<ol class="list-unstyled mb-0">
    {% for menu in menu_sidebar %}
        <li><a href="{% url 'page-detail' menu.id %}">{{ menu.menu_name }}</a></li>
    {% endfor %}
</ol>
</div>
{% endif %}
{% if all_posts %}
    {% regroup all_posts by post_date.year as year_list %}
<div class="p-3">
<h4 class="font-italic">Archives</h4>
<ol class="list-unstyled mb-0">
    {% for year in year_list %}
        {% regroup year.list by post_date.month as month_list %}
        {% for month in month_list %}
            <li><a href="{% url 'monthly-post-archive' year.grouper month.grouper %}">{{ month.list.0.post_date|date:'F' }} {{ year.grouper }} ({{ month.list|length }})</a></li>
        {% endfor %}
    {% endfor %}
</ol>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}